.r-switch {
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 1.2rem;

    input {
        display:none;
    }

    .r-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #dddddd;
        -webkit-transition: .3s;
        transition: .2s;
    }

    .r-slider:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        left: 4px;
        bottom: 2px;
        background-color: #888888;
        -webkit-transition: .3s;
        transition: .3s;
    }

    input:checked + .r-slider {
        background-color: #dddddd;
    }

    input:checked + .r-slider:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        left: 4px;
        bottom: 2px;
        background-color: #136acf;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .r-slider.r-round {
        border-radius: 10px;
    }
    
    .r-slider.r-round:before {
        border-radius: 50%;
    }

    input:focus + .r-slider {
        box-shadow: 0 0 1px #ccc;
    }
    
    input:checked + .r-slider:before {
        -webkit-transform: translateX(.9rem);
        -ms-transform: translateX(.9rem);
        transform: translateX(.9rem);
    }
}
