.r-users-container {
    box-shadow: 0px 1px 7px 1px #ccc;
    background-color: #ffffff;

    .r-users-table-menu {
        p {
            font-size: .9rem;
            color: #666666;
        }

        .r-users-table-title {
            font-size: 1.1rem;
        }

        .r-users-table-menu-icon {
            width: 1.5rem;
        }
    }
}