.r-gs-container {
    box-shadow: 0px 1px 7px 1px #ccc;
    background-color: #ffffff;
}

.r-invoice-menu-gs {
    padding-right: 1rem;

    a {
        padding-bottom: 1rem;
        border-bottom: 4px solid #439aff;
        width: 8rem;
        text-align: right;
    }
}