.r-table-menu {
    p {
        font-size: .9rem;
        color: #666666;
    }

    .r-table-title {
        font-size: 1.1rem;
    }

    .r-table-menu-icon {
        width: 1.5rem;
    }
}

.r-search-input {
    background: #dddddd;
}

.r-search-input::placeholder {
    color: #666666;
}