.rds-input {
    background: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 5px;
    height: 2rem;
    color: #555555;
    padding-left: .5rem;
}

.rds-input-rtl {
    direction: rtl;
}

.rds-input-ltr {
    direction: ltr;
}