.r-login {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/back-login.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh !important;

    .r-login-box {
        width: 80%;
        height: 70%;
        background-color: rgba($color: #ffffff, $alpha: .2);

    }
}