.r-header {
    background-color: #136acf;

    .r-header-container {
        padding: .7em 0em;

        .r-icon {
            width: 1.5em;
        }

        .r-title {
            text-shadow: 2px 3px #444;
        }
    }
}